ipython
matplotlib
myst_parser
numpydoc
numpydoc
openbb
pandas
polars
pydantic
pyrate_limiter
python-decouple
requests
requests_cache
requests_ratelimiter
sphinx
sphinx-copybutton
sphinx-design
sphinx_rtd_theme
sphinxext-opengraph